:root {
    --footer-color: #383638;
    --main-color: #E2E2E2;
    --bckg-color: black;
    --logo-color: #1D1D1D;
    --quote-color: #0B0F15;
    --pic-group-color: #0B0F15;
    --pic-group-border-color: rgba(255, 255, 255, 0.10);
    --button-color: black;
    --shadow: rgba(55, 125, 255, 0.50);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--bckg-color);
    color: var(--main-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

main {
    text-align: center;
}

.wrapper {
    max-width: 390px;
    min-width: 355px;
}

.nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    margin-top: 40px;
    margin-bottom: 69px;
}

footer {
    background-color: var(--footer-color);
    font-size: 1.6rem;
    line-height: 130%;
    text-align: left;
}

section {
    margin: 0;
}

h1 {
    font-size: 1.4rem;
}

h1,
.testimonial .name {
    font-weight: 600;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

button {
    background-color: var(--bckg-color);
}

.video {
    color: var(--main-color);
}

.action h1,
.action p,
.count,
.recommendation blockquote {
    font-family: 'Nunito', sans-serif;
}

#str-1,
.video,
.title p,
.pic-and-text,
.rating,
.footer-title,
.action a,
.links,
.services a,
.portfolio a {
    font-weight: 700;
}

.title p,
.portfolio .pic-and-text {
    font-size: 2.4rem;
}

.action h1 {
    font-size: 2.8rem;
    font-weight: 800;
    letter-spacing: 0.28px;
    margin: 0 27.8px 0 34.2px;
}

.logo-1#str-2,
.action a,
.count,
.links,
.video {
    font-size: 1.2rem;
}

.assessment {
    font-size: .6rem;
    letter-spacing: 0.06px;
    text-transform: uppercase;
    opacity: 0.5;
    width: 48px;
    margin: 0;
    position: absolute;
    top: 14px;
    right: 19px;
    bottom: 31px;
    left: 32px;
}

.recommendation .name {
    font-size: .5rem;
    font-weight: 600;
    letter-spacing: 0.05px;
    margin: 0;
}

.quote .company {
    font-size: .3rem;
    font-weight: 600;
    letter-spacing: 0.03px;
    opacity: 0.5;
    margin: 0;
}

.recommendation blockquote {
    font-size: .5rem;
    letter-spacing: 0.05px;
    width: 60.241px;
    margin: 0;
    position: absolute;
    top: 34.22px;
    left: 10.12px;
}

.recommendation blockquote p {
    margin: 0;
}

.services .pic-and-text,
.portfolio a,
.logo-2#str-2 {
    font-size: 1.6rem;
}

.testimonial .name,
.footer-title {
    font-size: 1.8rem;
}

.position {
    font-size: 1.1rem;
}

.logo-2#str-1 {
    font-size: 2rem;
}

.copyright {
    font-size: 1.4rem;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}

.action p,
.text,
.title+p,
.portfolio a,
.testimonial blockquote,
.logo-2#str-1 {
    line-height: 24px;
}

.action a,
.video,
.links,
.services .pic-and-text {
    line-height: 18px;
}

.portfolio .pic-and-text {
    line-height: 100%;
}

.action a,
.links a {
    background-color: var(--main-color);
    border-radius: 24px;
    color: var(--button-color);
    padding: 10px 35px;
}

.logo-2 {
    color: var(--logo-color);
}

.services .pic-and-text>div,
.testimonial .quote {
    background-color: var(--pic-group-color);
}

blockquote,
.text {
    text-align: left;
}

.photo {
    border-radius: 12px;
}

.video,
.portfolio a {
    border-radius: 24px;
    border: 0.7px solid var(--main-color);
    padding: 10px 35px;
    background-color: var(--bckg-color);
}

.services .pic-and-text>div {
    border: 1px solid var(--pic-group-border-color);
}

.services .pic-and-text>div,
.portfolio .pic-and-text img {
    border-radius: 30px;
}

.portfolio a {
    border: 1px solid var(--main-color);
}

.testimonial .quote {
    border-radius: 20px;
}

.logo2 {
    background-color: var(--main-color);
    border-radius: 20px;
}

header button img {
    width: 29px;
    height: 25px;
}

header button {
    padding: 0;
    border: 0;
}

.nav div img {
    width: 32.001px;
    height: 29.99px;
}

header p {
    margin: 0;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ellipse-right,
.ellipse-left,
.star {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.ellipse-right {
    position: absolute;
    top: -11px;
    right: -6.52px;
}

.ellipse-left {
    position: absolute;
    top: 212px;
    left: -7.93px;
}

.action p {
    letter-spacing: 0.14px;
    opacity: 0.6;
    width: 340px;
    margin: 0 21.8px 0 28.2px;
}

.action a {
    letter-spacing: 0.12px;
    box-shadow: 0px 4px 8px 0px var(--shadow);
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.star {
    position: absolute;
    top: 8px;
    right: 70px;
    bottom: 29px;
    left: 13px;
}

.count {
    margin: 0;
    position: absolute;
    top: 28px;
    right: 21px;
    bottom: 9px;
    left: 16px;
}

.rating {
    border-radius: 6px;
    background-color: var(--bckg-color);
    width: 99px;
    height: 53px;
    flex-shrink: 0;
    position: absolute;
    top: -3px;
    left: 0.07px;
}

.right-corner {
    width: 98.475px;
    height: 70.926px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.recommendation .photo {
    width: 330px;
    height: 224px;
    flex-shrink: 0;
    position: absolute;
    top: 12px;
    right: 15.48px;
    bottom: 15.23px;
    left: 9.07px;
}

.Bill-Adams {
    width: 15.422px;
    height: 15.422px;
    flex-shrink: 0;
    border-radius: 15.422px;
    position: absolute;
    top: 13.01px;
    left: 10.12px;
}

.author {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.964px;
    position: absolute;
    top: 14.94px;
    left: 30.36px;
}

.square {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

.recommendation .quote {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    position: absolute;
    right: 4.48px;
    bottom: -5.77px;
}

.recommendation {
    width: 354.55px;
    height: 251.23px;
    position: relative;
}

.intro .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 99px;
}

.intro {
    position: relative;
}