:root {
    font-family: 62.5%;
    --footer-color: #383638;
    --main-color: #E2E2E2;
    --logo-color: #1D1D1D;
    --pic-group-and-quote-background-color: #0B0F15;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: black;
    color: var(--main-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-align: center;
}

header {
    margin: 40px 25px 69px;
    min-width: 340px;
    padding: 33px 340px;
}

footer {
    background-color: var(--footer-color);
    font-size: 1.6rem;
    line-height: 130%;
    text-align: left;
    min-width: 390px;
}

h1 {
    font-size: 1.4rem;
}

h1,
.quote#q2 #name-q2 {
    font-weight: 600;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

button {
    background-color: black;
}

#video {
    color: var(--main-color);
}

#opening-text,
#opening-text+p,
#pic-inscription,
.quote#q1 blockquote {
    font-family: 'Nunito', sans-serif;
}

.logo-1string,
#video,
.title,
.pic-and-text,
#pic-inscription,
.footer-title,
#action,
#teammate,
#particulars,
#portfolio {
    font-weight: 700;
}

.title,
.pic-and-text#p2 {
    font-size: 2.4rem;
}

#opening-text {
    font-size: 2.8rem;
    font-weight: 800;
    width: 328px;
}

.logo-2string#l1,
#action,
#pic-inscription p+p,
#teammate,
#video {
    font-size: 1.2rem;
}

#pic-inscription img+p {
    font-size: .6rem;
}

.quote#q1 #name-q1 {
    font-size: .5rem;
    font-weight: 600;
}

.quote#q1 #company {
    font-size: .3rem;
    font-weight: 600;
}

.quote#q1 blockquote {
    font-size: .5rem;
}

.pic-and-text#p1,
#portfolio,
.logo-2string#l2 {
    font-size: 1.6rem;
}

.quote#q2 #name-q2,
.footer-title {
    font-size: 1.8rem;
}

.quote#q2 #position {
    font-size: 1.1rem;
}

.logo-1string#l2 {
    font-size: 2rem;
    width: 72px;
}

#copyright {
    font-size: 1.4rem;
    line-height: normal;
    margin: 0;
    text-align: center;
    border-top: 1px solid var(--main-color);
    width: 352px;
}

#opening-text+p,
.title+p,
#portfolio,
.quote#q2 blockquote,
.logo-1string#l2 {
    line-height: 2.4rem;
}

#action,
#video,
#teammate,
.pic-and-text#p1 {
    line-height: 1.8rem;
}

.pic-and-text#p2 {
    line-height: 100%;
}

#action,
#teammate {
    background-color: var(--main-color);
    border-radius: 24px;
    color: black;
    padding: 10px 35px;
}

.logo-1string#l2,
.logo-2string#l2 {
    color: var(--logo-color);
}

.pic-and-text#p1 div,
.quote#q2 {
    background-color: var(--pic-group-and-quote-background-color);
}

blockquote,
.teammate-text {
    text-align: left;
}

.photo {
    border-radius: 12px;
}

#video,
#portfolio {
    border-radius: 24px;
    border: 0.7px solid #E2E2E2;
    padding: 10px 35px;
    background-color: black;
}

.pic-and-text#p1 div {
    border: 1px solid rgba(255, 255, 255, 0.10);
    width: 262px;
    height: 269px;
}

.pic-and-text#p1 div,
.pic-and-text#p2 img {
    border-radius: 30px;
}

#portfolio {
    border: 1px solid #E2E2E2;
}

.quote#q2 {
    width: 340px;
    height: 257px;
    border-radius: 20px;
}

#logo2 {
    width: 187px;
    height: 88px;
    background-color: var(--main-color);
    border-radius: 20px;
}

section#s1 {
    min-width: 355px;
}

section#s2,
section#s3,
section#s4,
section#s5 {
    min-width: 340px;
}

header button img {
    width: 29px;
    height: 25px;
}

header button {
    width: 29px;
    height: 25px;
    padding: 0;
    border: 0;
}

header a {
    padding: 33px 91px;
}

header a img {
    width: 32.001px;
    height: 29.99px;
}

.logo-1string#l1 {
    width: 51px;
}

.logo-2string#l1 {
    width: 47px;
}

#opening-text+p,
.teammate-text,
#s3 .title,
#s4 .title,
#s5 .title {
    width: 340px;
}

#s1 .photo {
    width: 330px;
    height: 224px;
}

.ellipse,
#s1 #star,
#video>img {
    width: 16px;
    height: 16px;
}

#s1 #rectangle {
    width: 99px;
    height: 53px;
    border-radius: 6px;
}

#s1 #square {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

#s1 #Bill-Adams {
    width: 15.422px;
    height: 15.422px;
    border-radius: 15.422px;
}

#s1 blockquote {
    width: 60.241px;
}

#s1 #right-corner,
#s1 #left-corner {
    width: 98.475px;
    height: 70.926px;
}

#s2>h1 {
    width: 62px;
}

#s2 .title {
    width: 166px;
}

#s2 #points {
    width: 340px;
    height: 258px;
}

#s2 .photo {
    width: 340px;
    height: 242px;
}

#s3 h1 {
    width: 86px;
}

#s3 .title+p {
    width: 340px;
}

#s3 #particulars {
    width: 77px;
    height: 18px;
}

#s3 #arrow {
    width: 20px;
    height: 24px;
}

#s3 .circle {
    width: 100px;
    height: 100px;
}

#s3 .icon {
    width: 42px;
    height: 42px;
}

#s3 #group-1 p {
    width: 104px;
}

#s3 #group-2 p {
    width: 112px;
}

#s3 #group-3 p {
    width: 54px;
}

#s3 #group-4 p {
    width: 29px;
}

#s4 h1 {
    width: 88px;
}

#s4 .title+p {
    width: 340px;
}

#s4 #couple-1 img {
    width: 300px;
    height: 300px;
}

#s4 #couple-2 img {
    width: 340px;
    height: 338px;
}

#s4 #couple-3 img {
    width: 300px;
    height: 301.765px;
}

#s4 #couple-1 p {
    width: 245px;
}

#s4 #couple-2 p {
    width: 125.3px;
}

#s4 #couple-3 p {
    width: 192px;
}

#s5 h1 {
    width: 78px;
}

#s5 img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

#s5 #name-q2 {
    width: 98px;
}

#s5 #position {
    width: 93px;
}

#s5 blockquote p {
    width: 280px;
}

#logo2 img {
    width: 53.229px;
    height: 50.01px;
}

.logo-2string#l2 {
    width: 63px;
}

#terms-and-policies {
    width: 141px;
    height: 112px;
}

#company {
    width: 83px;
    height: 152px;
}

#contact {
    width: 162px;
    height: 106px;
}

#location {
    width: 253px;
    height: 193px;
}

#social-network  a>img{
    width: 36px;
    height: 36px;
}

#facebook,
#instagram,
#linkedin,
#mail,
#twitter {
    width: 21.6px;
    height: 21.6px;
}